html, input {
    font-family: sans-serif;
}

body {
    /*now you can see adjust bar at website in down*/
    width: 100%;
    max-width: 600px;
    /*body comes center*/
    margin: auto;
    padding: 2em;
    /*border: 2px solid black;*/
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: tomato;
    font-weight: bold;
    margin-bottom: 25px;
}

div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label, input, button {
    font-size: 16px;
    line-height: 1.5;
}

label {
    text-align: center;
    width: 30%;
    margin-right: 2%;
}

input {
    /*increse the input box according to form*/
    flex: auto;
}

button {
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
}
